.Rproj.user
.Rhistory
.RData
.Ruserdata
**/plots/

#--ignore the tpl created from gmacsbase.tpl and personal.tpl
GMACS_versions/Dvpt_Version/gmacs.tpl

#--ignore compile-related files (gmacs and copied cpp files on a windows platform)
GMACS_versions/**/*.cpp
GMACS_versions/**/*.htp
GMACS_versions/**/*.obj
GMACS_versions/**/*.log

#--ignore windows-like executables
GMACS_versions/**/gmacs.exe

#--ignores linux-like executables
GMACS_versions/Dvpt_Version/gmacs

#--ignore compile-related files (created on a linux-like platform)
GMACS_versions/Dvpt_Version/lib/*.log
GMACS_versions/Dvpt_Version/lib/*.obj

#--ignore the output files from gmacs.exe
GMACS_versions/**/build/**/admodel.*
GMACS_versions/**/build/**/*.bar
GMACS_versions/**/build/**/*.eva
GMACS_versions/**/build/**/fmin.log
GMACS_versions/**/build/**/*.log
GMACS_versions/**/build/**/*.std
GMACS_versions/**/build/**/gradient.*
GMACS_versions/**/build/**/*.r0*
GMACS_versions/**/build/**/*.p0*
GMACS_versions/**/build/**/*.b0*
GMACS_versions/**/build/**/derivatives
GMACS_versions/**/build/**/ders.dat
GMACS_versions/**/build/**/mcout*.*
GMACS_versions/**/build/**/checkfile.rep
GMACS_versions/**/build/**/personal.rep
GMACS_versions/**/build/**/gmacs_in.*
GMACS_versions/**/build/**/gmacs_files_in.dat
GMACS_versions/**/build/**/*.exe
